trigger: none
pr: none

jobs:
- job: WebApp
  displayName: "Build Web App"
  pool:
    vmImage: windows-2022

  variables:
    BuildConfiguration: Release

  steps:
  - task: UseDotNet@2
    displayName: "Install .NET 6 SDK"
    inputs:
      packageType: sdk
      version: 6.0.x

  - task: DotNetCoreCLI@2
    displayName: "Restore"
    inputs:
      command: restore
      projects: "**/WebApp.csproj"

  - task: DotNetCoreCLI@2
    displayName: "Build"
    inputs:
      command: build
      projects: "**/WebApp.csproj"
      arguments: "--configuration $(BuildConfiguration)"

  - task: DotNetCoreCLI@2
    displayName: "Test"
    inputs:
      command: test
      projects: "**/*UnitTest*.csproj"
      arguments: "--configuration $(BuildConfiguration)"

  - task: DotNetCoreCLI@2
    displayName: "Publish (Zip)"
    inputs:
      command: publish
      publishWebProjects: true
      arguments: "--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)"
      zipAfterPublish: true

  - task: PublishBuildArtifacts@1
    displayName: "Publish Artifact (WebApp.zip)"
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)"
      ArtifactName: "WebApp"


- job: Database
  displayName: "Build Database (DACPAC)"
  pool:
    vmImage: windows-2022

  steps:
  - task: MSBuild@1
    displayName: "Build .sqlproj"
    inputs:
      solution: "WebApp.Database/WebApp.Database.sqlproj"
      msbuildArguments: "/p:OutDir=$(Build.ArtifactStagingDirectory)"

  - task: PublishBuildArtifacts@1
    displayName: "Publish Artifact (DACPAC)"
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)"
      ArtifactName: "dacpac"


- job: Selenium
  displayName: "Build UI Tests"
  pool:
    vmImage: windows-2022

  steps:
  - task: NuGetToolInstaller@1
    displayName: "Install NuGet"

  - task: NuGetCommand@2
    displayName: "NuGet Restore"
    inputs:
      restoreSolution: "WebAppWithDatabase.sln"

  - task: MSBuild@1
    displayName: "Build Selenium UI Tests"
    inputs:
      solution: "SeleniumUiTests/SeleniumUiTests.csproj"
      msbuildArguments: "/p:OutDir=$(Build.ArtifactStagingDirectory)"

  - task: PublishBuildArtifacts@1
    displayName: "Publish Artifact (UI-Test)"
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)"
      ArtifactName: "UI-Test"


- job: Infrastructure
  displayName: "Publish Infrastructure Templates"
  pool:
    vmImage: windows-2022

  steps:
  - task: PublishBuildArtifacts@1
    displayName: "Publish Artifact (ARM Templates)"
    inputs:
      PathtoPublish: "AzureResourceGroupDeployment"
      ArtifactName: "arm"
